.indent {
    right: 35%;
    top: -35%; 
}

.content-comment {
    display: block;
    max-height: 800px;
    word-break: break-word 
}

#width-90 {
    min-width: 90px;
    max-width: 90px
}

#size-menu-dots {
    right: 0px;
    top: 35%;
    width: auto;
}

#word-break-normal {
    word-break: normal;
}